{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Live Calculator</title>
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'requests.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body style="background: #3A3E4B; color: white;">
    <header>
        <h1 class="d-none d-lg-block" 
        style="text-align: center; color: #FF9138; margin-bottom: -40px;">Social Network</h1>
        <nav>
            <div class="navbar navbar-expand-lg pt-4">
                <div class="container-fluid">
                    <a href="#" class="brand text-decoration-none d-block d-lg-none fw-bold fs-1" style="margin-top: -20px;">Social Network</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation" style="margin-top: -15px;">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                        <ul id="nav-length" class="navbar-nav justify-content-between border-top border-2 text-center">
                            <li class="nav-item">
                                <a href="/" id="home" class="nav-link border-hover py-3 text-white"><i class="fa fa-home" aria-hidden="true"> Home</i></a>
                            </li>
                            <li class="nav-item">
                                <a href="/chatting" id="message" class="nav-link border-hover py-3 text-white"><i class="fa fa-envelope" aria-hidden="true"> Messages</i></a>
                            </li>
                            <li class="nav-item">
                                <a href="people" id="search" class="nav-link border-hover py-3 text-white"><i class="fa fa-search" aria-hidden="true"> Search</i></a>
                            </li>
                            <li class="nav-item">
                                <a href="upload" id="publish" class="nav-link border-hover py-3 text-white"><i class="fa fa-upload" aria-hidden="true"> Publish</i></a>
                            </li>
                            <li class="nav-item">
                                <a href="requests" id="requests" class="nav-link border-hover py-3 text-white active"><i class="fa fa-user-plus" aria-hidden="true"> Requests</i></a>
                            </li>
                            <li class="nav-item">
                                <a href="logout" id="sign-out" class="nav-link border-hover py-3 text-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M497 273L329 441c-15 15-41 4.5-41-17v-96H152c-13.3 0-24-10.7-24-24v-96c0-13.3 10.7-24 24-24h136V88c0-21.4 25.9-32 41-17l168 168c9.3 9.4 9.3 24.6 0 34zM192 436v-40c0-6.6-5.4-12-12-12H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h84c6.6 0 12-5.4 12-12V76c0-6.6-5.4-12-12-12H96c-53 0-96 43-96 96v192c0 53 43 96 96 96h84c6.6 0 12-5.4 12-12z"/></svg> Sign out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
	<div style="position: relative; z-index: 1; margin-top: 280px;">
		<div class="card" id="chat2">
			<div class="card-header">
				<h5 class="mb-0">Chat with {{current_recipient.last_name}} {{current_recipient.first_name}}</h5>
			</div>
			<div id="content" class="chatmessages overflow-y-auto" style="height: 65vh; left: 10%; top: 15%;
			 background-image: url(https://us.123rf.com/450wm/fillvector/fillvector2307/fillvector230700782/208235083-green-line-web-camera-icon-isolated-seamless-pattern-on-blue-background-chat-camera-webcam-icon.jpg?ver=6);">
				<!-- contents come here! -->
				<!-- <p></p> -->
				{% for m in messages %}
				{% if m.sender.username != user %}
				<div class="d-flex flex-row justify-content-start">
					<div class="overflow-hidden medium p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7; margin-right: 10px;">
						<div>{{m.message}}<p class="message-time2">{{m.timestamp}}</p>
						</div>
					</div>
				</div>
				{% else %}
				<div class="d-flex flex-row justify-content-end">
					<div class="overflow-hidden medium p-2 me-3 mb-1 text-white rounded-3" style="background-color:#25D366; margin-left: 10px;">
						<div>{{m.message}} <p class="message-time">{{m.timestamp}}</p>
						</div>
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
			<div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
				<input type="text" name="text_input" id="input" class="form-control" placeholder="Message.."/>
				<button class="btn btn-warning" type="submit" id="submit" style="padding-top: .55rem;">
					Send
				</button>
			</div>
		</div>
	</div>

	<script>
		let room = "{{room}}";
		const user = "{{user}}";
		const recipient = "{{recipient}}"
		console.log(room);
		const socket = new WebSocket('ws://'
			+ window.location.host
			+ '/ws/'
			+ room + '/');
		socket.onmessage = (e) => {
			// console.log(JSON.parse(e.data));
			const now = new Date();
			sender = JSON.parse(e.data).sender;
			result = JSON.parse(e.data).message;
			document.getElementById("content").innerHTML +=
				`<div class="d-flex flex-row justify-content-start">
				<div class="medium p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">
					<div>` + result + `<p class="message-time2">
	${now.getFullYear()}.${now.getMonth() < 10 ? '0' + (now.getMonth() + 1) : (now.getMonth() + 1)}.${now.getDate() < 10 ? '0' + now.getDate() : now.getDate()}.${now.getHours()}:${now.getMinutes()}</p></div>
				</div>
			</div>`;
			var scrollableDiv = document.getElementById("content");
			scrollableDiv.scrollTop = scrollableDiv.scrollHeight;
		}

		socket.onclose = (e) => {
			console.log("Socket closed!");
		}

		document.querySelector('#input').onkeyup = function (e) {
			if (e.keyCode === 13 && e.shiftKey) { // enter, return 
				// document.querySelector('#submit').click();
				pasteIntoInput
			}
		};

		document.querySelector("#submit").onclick = (e) => {
			inputfield = document.querySelector("#input");
			let messa = inputfield.value;

			if ((messa.trim()).length != 0) {
				socket.send(JSON.stringify(
					{
						sender: user,
						recipient: recipient,
						message: messa
					}
				))
				const now = new Date();
				document.getElementById("content").innerHTML +=
				`<div class="d-flex flex-row justify-content-end">
					<div class="medium p-2 me-3 mb-1 text-white rounded-3" style="background-color:#25D366">
						<div>` + messa + `<p class="message-time">
						${now.getFullYear()}.${now.getMonth() < 10 ? '0' + (now.getMonth() + 1) : (now.getMonth() + 1)}.${now.getDate() < 10 ? '0' + now.getDate() : now.getDate()}.${now.getHours()}:${now.getMinutes()}</p>
						</div>
					</div>
				</div>`;
				document.getElementById("input").value = "";
				var scrollableDiv = document.getElementById("content");
				scrollableDiv.scrollTop = scrollableDiv.scrollHeight;
			}
			inputfield.value = "";
			// // notification
			const socket2 = new WebSocket('ws://'
			+ window.location.host
			+ '/ws/notification/'
			+ room + '/');
			socket2.onmessage = (e) => {
				// nothing to do!
			}
			socket2.send(JSON.stringify(
				{
					message: 'update'
				}
			))

			socket2.onclose = (e) => {
				console.log("Socket closed!");
			}
			// notification end
		}

		window.onload = function(e) {
			var scrollableDiv = document.getElementById("content");
			scrollableDiv.scrollTop = scrollableDiv.scrollHeight;
		}
	</script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>

</html>