<div class="card-body">
    <form action="" class="mt ng-pristine ng-valid">
        <div class="input-group mda-input-group">
            <div class="mda-form-group">
                <div class="mda-form-control">
                    <textarea rows="1" aria-multiline="true" tabindex="0"
                        aria-invalid="false" class="no-resize form-control"></textarea>
                    <div class="mda-form-control-line"></div>
                    <label class="m0">What's on your mind?</label>
                </div><span class="mda-form-msg right">Any message here</span>
            </div>
            <span class="input-group-btn">
                <button type="button" class="btn btn-success" style="margin-top:-44px">
                    Save
                </button>
            </span>
        </div>
    </form>
</div>

<div class="col-md-4">
    <div class="push-down"></div>
    <div class="card card-transparent">
        <h5 class="card-heading">Friends</h5>
        <div class="mda-list">
            <div class="mda-list-item"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="List user"
                    class="mda-list-item-img thumb48">
                <div class="mda-list-item-text mda-2-line">
                    <h3><a href="#">Eric Graves</a></h3>
                    <div class="text-muted text-ellipsis">Ut ac nisi id mauris</div>
                </div>
            </div>
            <div class="mda-list-item"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="List user"
                    class="mda-list-item-img thumb48">
                <div class="mda-list-item-text mda-2-line">
                    <h3><a href="#">Bruce Ramos</a></h3>
                    <div class="text-muted text-ellipsis">Sed lacus nisl luctus</div>
                </div>
            </div>
            <div class="mda-list-item"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="List user"
                    class="mda-list-item-img thumb48">
                <div class="mda-list-item-text mda-2-line">
                    <h3><a href="#">Marie Hall</a></h3>
                    <div class="text-muted text-ellipsis">Donec congue sagittis mi</div>
                </div>
            </div>
            <div class="mda-list-item"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="List user"
                    class="mda-list-item-img thumb48">
                <div class="mda-list-item-text mda-2-line">
                    <h3><a href="#">Russell Hart</a></h3>
                    <div class="text-muted text-ellipsis">Donec convallis arcu sit</div>
                </div>
            </div>
            <div class="mda-list-item"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="List user"
                    class="mda-list-item-img thumb48">
                <div class="mda-list-item-text mda-2-line">
                    <h3><a href="#">Eric Graves</a></h3>
                    <div class="text-muted text-ellipsis">Ut ac nisi id mauris</div>
                </div>
            </div>
            <div class="mda-list-item"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="List user"
                    class="mda-list-item-img thumb48">
                <div class="mda-list-item-text mda-2-line">
                    <h3><a href="#">Jessie Cox</a></h3>
                    <div class="text-muted text-ellipsis">Sed lacus nisl luctus</div>
                </div>
            </div>
            <div class="mda-list-item"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="List user"
                    class="mda-list-item-img thumb48">
                <div class="mda-list-item-text mda-2-line">
                    <h3><a href="#">Jonathan Soto</a></h3>
                    <div class="text-muted text-ellipsis">Donec congue sagittis mi</div>
                </div>
            </div>
            <div class="mda-list-item"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="List user"
                    class="mda-list-item-img thumb48">
                <div class="mda-list-item-text mda-2-line">
                    <h3><a href="#">Guy Carpenter</a></h3>
                    <div class="text-muted text-ellipsis">Donec convallis arcu sit</div>
                </div>
            </div>
        </div>
    </div>
</div>